/* Add screen styles below */
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);
.root {
    --main-bg-color: #E9E9E9;
    --primary-text-color: #424242;
    --accent-color: #FF3D3C;
}
body {
    background: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    padding:20px;
    margin-bottom: 100px;
}
header h1 {
    margin: 0;
    font-weight: normal;
}
main {
    background: url('polaroid.png') no-repeat center 100px;
    margin: 0 auto;
    width: 1000px;
}
.Hero {
    text-align: center;
    min-height: 800px;
}
.Hero h2 {
    font-size: 9em;
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
}
.details h3 {
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    padding-top: 50px;
}
.details ul li {
    list-style-type: none;
    margin: 10px 0;
    padding: 0 0 0 40px;
}
.details ul li.wifi {
    background: url('wifiVector0.5.png') no-repeat center left;
}
.details ul li.cloud {
    background: url('cloudVector0.5.png') no-repeat center left;
}
.details ul li.qr {
    background: url('QRVector0.5.png') no-repeat center left;
}
.details ul li.media {
    background: url('mediaVector0.5.png') no-repeat center left;
}
.form h3 {
    margin-top: 70px;
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
}
form {
    margin-bottom: 300px;
    background-color: #E2E2E2;
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    margin-left: 110px;
}
input[type=text] {
    background-color: #ECECEC;
    color: var(--primary-text-color);
    border: none;
    padding: 20px;
    width: 400px;
  }
input[type=button] {
    background: #FF3D3C;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 20px;
    font-weight: 900;
}